<div class="animated fadeIn">
  <div class="row">
    <h2 class="mb-3">{{ title | titlecase }}</h2>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header spaceBetween">
          <strong>Fields List</strong>
          <div class="buttonHeaderContainer"></div>
        </div>
        <div class="card-block">
          <div class="row">
            <ng-container *ngIf="!dashboard">
              <div class="text-center">
                <span>No city selected</span>
              </div>
            </ng-container>
            <ng-container *ngIf="dashboard">
              <table class="table animated fadeIn">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Weather</th>
                    <th scope="col">View</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="dashboard">
                    <th>{{ dashboard.name }}</th>
                    <td>
                      {{ dashboard.weather[0].description }}
                      <div></div>
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-primary"
                        (click)="showModal()"
                      >
                        Ver
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header spaceBetween">
          <strong>Fields List</strong>
          <div class="buttonHeaderContainer"></div>
        </div>
        <div class="card-block">
          <div class="row">
            <ng-container *ngIf="!dashboard">
              <div class="text-center">
                <span>Sin registros</span>
              </div>
            </ng-container>
            <ng-container *ngIf="dashboard">
              <table class="table animated fadeIn">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Weather</th>
                    <th scope="col">View</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="dashboard">
                    <th>{{ dashboard.name }}</th>
                    <td>
                      {{ dashboard.weather[0].description }}
                      <div></div>
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-primary"
                        (click)="showModal()"
                      >
                        Ver
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
