<div class="animated fadeIn">
  <div class="row" >
    <h2 class="mb-3">{{ title | titlecase }}</h2>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header spaceBetween">
          <strong>Fields List</strong>
          <div class="buttonHeaderContainer"></div>
        </div>
        <div class="card-block">
          <div class="row">
            <ng-container *ngIf="!series[0]">
              <div class="text-center">
                <span>Sin registros</span>
              </div>
            </ng-container>
            <ng-container *ngIf="series[0]">
              <apx-chart
                [series]="series"
                [chart]="chartLine"
                [title]="titleChart"
                [xaxis]="xaxis"
              ></apx-chart>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
